<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
</head>
<style>
    body{
        font-family: 'Courier', monospace;
        padding: 0;
        margin: 0;
    }
.c404{
    width: 100% !important;
    height: 100vh !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: 400 !important;

}
</style>
<body>
  <div class="c404">
    <h1>404</h1>
      <p>Doesn't look like this is an endpoint.</p>
      <a href="https://github.com/oscarspalk/ImageGenerationAPI">Check out the endpoints</a>
  </div>

</body>
</html>